<div class="operations__table">


    <table mat-table [dataSource]="myUsersList">


        <ng-container matColumnDef="user">
            <th 
                class="operations__table-cell operations__table-cell--white" 
                mat-header-cell *matHeaderCellDef> User </th>

            <td 
            class="operations__table-cell"
            mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>


        
        <ng-container matColumnDef="status">
            <th 
            class="operations__table-cell operations__table-cell--white" 
            mat-header-cell *matHeaderCellDef> Status </th>
            <td class="operations__table-cell"
            mat-cell *matCellDef="let element"> {{element.status | status}}   
                <img class="status-image" [src]="element.status | statusImage">
            </td>
           
                
       
        </ng-container>


        
        <ng-container matColumnDef="date">
            <th 
            class="operations__table-cell operations__table-cell--white" 
            mat-header-cell *matHeaderCellDef> Date </th>
            <td class="operations__table-cell" mat-cell *matCellDef="let element"> {{element.dateValue | date}} </td>
        </ng-container>


        <ng-container matColumnDef="time">
            <th 
            class="operations__table-cell operations__table-cell--white" 
            mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{element.dateValue | date : "shortTime" }} </td>
        </ng-container>


        <ng-container matColumnDef="value">
            <th 
            class="operations__table-cell operations__table-cell--white" 
            mat-header-cell *matHeaderCellDef> Value </th>
            <td 
            class="operations__table-cell"
            mat-cell *matCellDef="let element"> {{element.value | currency}} </td>
        </ng-container>


        <ng-container matColumnDef="risck">
            <th 
            class="operations__table-cell operations__table-cell--white" 
            mat-header-cell *matHeaderCellDef> Risck </th>
            <td 
            class="operations__table-cell"
            mat-cell *matCellDef="let element"> {{element.risck | percent}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>

</div>