
.operations__filter {
    &-input {
        padding: 5px;
        border: 3px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;

    }
    width: 100%;
    
    text-align: center;
}